<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rustfisher.tutorial2020">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".recycler.RecyclerViewDemoActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".animation.AnimationDemoActivity" />
        <activity android:name=".recycler.ReGuideAct" />
        <activity android:name=".recycler.RecyclerViewDemo2Act" />
        <activity android:name=".linear.LinearGuideAct" />
        <activity android:name=".linear.LinearLayoutChildGravityDemo" />
        <activity android:name=".style.LayoutBackgroundDemo" />
        <activity android:name=".style.XMLShapeDemo" />
        <activity android:name=".image.ImageViewDemo1" />
    </application>

</manifest>