<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rustfisher.tutorial2020">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".constraintlayout.Con1Act"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recycler.RecyclerViewDemoActivity" />
        <activity android:name=".animation.AnimationDemoActivity" />
        <activity android:name=".recycler.ReGuideAct" />
        <activity android:name=".recycler.RecyclerViewDemo2Act" />
        <activity android:name=".linear.LinearGuideAct" />
        <activity android:name=".linear.LinearLayoutChildGravityDemo" />
        <activity android:name=".relativelayout.RelativeLayoutGuideAct" />
        <activity android:name=".relativelayout.RelativeDemo1" />
        <activity android:name=".style.LayoutBackgroundDemo" />
        <activity android:name=".style.XMLShapeDemo" />
        <activity android:name=".image.ImageViewDemo1" />
        <activity android:name=".act.SendParamsDemo" />
        <activity android:name=".recycler.multi.ReViewDemoMulti" />
        <activity android:name=".act.ForResultFirstAct" />
        <activity android:name=".act.ForResultSecondAct" />
        <activity android:name=".act.ActDemoGuide" />
        <activity android:name=".text.TvDemoGuide" />
        <activity android:name=".text.SpannableStringAct1" />
        <activity android:name=".act.LifeCycleAct" />
        <activity android:name=".broadcast.BroadcastDemo1" />
        <activity android:name=".broadcast.BroadcastDemoGuide" />
        <activity android:name=".text.TextHtmlDemo" />
        <activity android:name=".text.TextStyleDemo" />
        <activity android:name=".databinding.DataBindingAct1" />
        <activity android:name=".text.SpecialCharAct" />
        <activity android:name=".databinding.DataBindingAct2" />
        <activity android:name=".databinding.GuideListAct" />
        <activity android:name=".databinding.MutableDemo1" />
        <activity android:name=".databinding.TwoWayAct1" />
        <activity android:name=".databinding.BindingAdapterAct1" />
        <activity android:name=".lifecycle.LcGuideAct" />
        <activity android:name=".lifecycle.Lc1Act" />
        <activity android:name=".viewmodel.ViewModelGuideAct" />
        <activity android:name=".viewmodel.VmIntro1Act" />
        <activity android:name=".recycler.FlipCardAct" />
        <activity android:name=".constraintlayout.ConGuideAct" />
        <activity android:name=".constraintlayout.Con2Act" />
        <activity android:name=".constraintlayout.Con3Act" />
        <activity android:name=".recycler.move.MoveToDelAct" />
        <activity android:name=".recycler.staggeredgrid.StaggeredGrid1Act" />
        <activity
            android:name=".correct.CorrectSampleAct"
            android:configChanges="keyboardHidden"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".customview.CustomViewAct" />
        <activity android:name=".popupwindow.PopupWindowDemo" />
        <activity android:name=".dialog.DialogGuideAct" />
        <activity android:name=".dialog.DialogLocationAct" />
        <activity android:name=".edittext.EtGuideAct" />
        <activity
            android:name=".edittext.SoftInputModeAct"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".edittext.EtSelectionAct" />
    </application>

</manifest>