<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rustfisher.mediasamples">

    <application>
        <activity
            android:name=".MediaGuideAct"
            android:exported="true" />
        <activity
            android:name=".camera.CameraGuideAct"
            android:exported="true" />
        <activity
            android:name=".camera.MeSimplePreviewXAct"
            android:exported="true" />
        <activity
            android:name=".camera.Camera1Act"
            android:exported="true" />
        <activity
            android:name=".camera.MeSimplePreviewXScaleAct"
            android:exported="true"
            android:theme="@style/MeTranslucentAct" />
    </application>
</manifest>