<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rustfisher.mediasamples">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" />

    <application>
        <activity
            android:name=".camera.CameraGuideAct"
            android:exported="true" />
        <activity
            android:name=".camera.MeSimplePreviewXAct"
            android:exported="true" />
        <activity
            android:name=".camera.Camera1Act"
            android:exported="true" />
        <activity
            android:name=".camera.MeSimplePreviewXFloatingAct"
            android:exported="true"
            android:theme="@style/MeTranslucentAct" />
        <activity
            android:name=".camera.MeFloatingCameraXAct"
            android:exported="true"
            android:launchMode="singleTop" />

        <service android:name=".camera.FloatingCameraXService" />
    </application>
</manifest>